* text=auto !eol
PriorityQWorkshop/.classpath -text svneol=unset#text/plain
PriorityQWorkshop/.project -text svneol=unset#text/plain
PriorityQWorkshop/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
PriorityQWorkshop/lib/deuceAgent-1.3.0.jar -text
PriorityQWorkshop/lib/deuceagent-2.0.jar -text
PriorityQWorkshop/lib/junit-4.12.jar -text
PriorityQWorkshop/maintest.launch -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/AbstractSprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/FreestyleSprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/GrainedLockSprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/IPriorityQueueOld.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/LockFreeSprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/NaiveLockSprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/SprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/TransactioalMemorySprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/news/CoolSprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/news/GlobalLockSprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/news/IPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/news/LazyLockSparyListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/news/LockFreeSprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/news/NaiveLockNativePriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/news/SeqSprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/news/TMSprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/news/serviceClass.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/tests/PriorityQueueFactory.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/tests/StopWatch.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/tests/TestBench.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/tests/TestUtils.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/tests/Workers.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/tests/maintest.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/utils/LockFreeRandom.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/utils/PaddedPrimitive.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/utils/PaddedPrimitiveNonVolatile.java -text svneol=unset#text/plain
