* text=auto !eol
PriorityQWorkshop/.classpath -text svneol=unset#text/plain
PriorityQWorkshop/.project -text svneol=unset#text/plain
PriorityQWorkshop/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
PriorityQWorkshop/lib/deuceagent-2.0.jar -text
PriorityQWorkshop/src/priorityQueue/AbstractSprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/FreestyleSprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/GrainedLockSprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/IPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/NaiveLockNativePriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/NaiveLockSprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/SprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/TransactioalMemorySprayListPriorityQueue.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/tests/StopWatch.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/tests/Workers.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/tests/maintest.java -text svneol=unset#text/plain
PriorityQWorkshop/src/priorityQueue/utils/LockFreeRandom.java -text svneol=unset#text/plain
